{% import 'OroUIBundle::macros.html.twig' as ui %}

<div class="widget-content">
    <div class="row-fluid form-horizontal">
        <div class="responsive-block">
            {{ ui.renderProperty('orocrm.contactus.contactrequest.status.label'|trans, entity.status.label|trans|escape) }}
            {{ ui.renderProperty('orocrm.contactus.contactrequest.channel.label'|trans, entity.channel.name|escape) }}
            {{ ui.renderProperty('orocrm.contactus.contactrequest.firstName.label'|trans, entity.firstName|escape) }}
            {{ ui.renderProperty('orocrm.contactus.contactrequest.lastName.label'|trans, entity.lastName|escape) }}
            {{ ui.renderProperty('orocrm.contactus.contactrequest.organizationName.label'|trans, entity.organizationName|escape) }}
            {{ ui.renderProperty('orocrm.contactus.contactrequest.preferredContactMethod.label'|trans, entity.preferredContactMethod|trans|escape) }}
            {{ ui.renderProperty('orocrm.contactus.contactrequest.emailAddress.label'|trans, entity.emailAddress|escape) }}
            {{ ui.renderProperty('orocrm.contactus.contactrequest.phone.label'|trans, entity.phone|escape) }}
            {{ ui.renderProperty('orocrm.contactus.contactrequest.contactReason.label'|trans, entity.contactReason|trans|escape) }}
            {{ ui.renderProperty('orocrm.contactus.contactrequest.comment.label'|trans, entity.comment|escape) }}
            {{ ui.renderProperty('orocrm.contactus.contactrequest.feedback.label'|trans, entity.feedback|escape) }}

            {% if entity.opportunity %}
                {%- if entity.opportunity and resource_granted('VIEW', entity.opportunity) -%}
                    {% set opportunityView = ui.renderUrl(path('orocrm_sales_opportunity_view', {'id': entity.opportunity.id}), entity.opportunity.name) %}
                {%- else -%}
                    {% set opportunityView = entity.opportunity.name %}
                {%- endif -%}

                {{ ui.renderProperty('orocrm.contactus.contactrequest.opportunity.label'|trans, opportunityView) }}
            {% endif %}
            {% if entity.lead %}
                {%- if entity.lead and resource_granted('VIEW', entity.lead) -%}
                    {% set leadView = ui.renderUrl(path('orocrm_sales_lead_view', {'id': entity.lead.id}), entity.lead.name) %}
                {%- else -%}
                    {% set leadView = entity.lead.name %}
                {%- endif -%}

                {{ ui.renderProperty('orocrm.contactus.contactrequest.lead.label'|trans, leadView) }}
            {% endif %}
        </div>
    </div>
</div>
